<div id="index" class="container imgbox">
    <img src="/assets/BG.jpg" class="center-fit">
    <div class="sidenav uppercase">
        <%= image_tag('papa-logo-3.svg') %>
        <a id="propos_clicked">A Propos</a>
        <a id="services_clicked">Nos Services</a>
        <a id="blog_clicked">Blog</a>
        <a id="contact_clicked">Contactez-nous</a>
    </div>

    <div id="propos" class="center">
        <h2><u>A Propos :</u></h2>
        <p>
            Shefford BI Solutions a été créée afin d’apporter aux organisations de petites et moyennes taille des
            solutions dans le domaine de l’intelligence d’affaire.
            Les services de Shefford BI Solutions vont de l’analyse des besoins, la définition des indicateurs, le design
            des tableaux de bord et leur développement
            Nous sommes une équipe réduite, totalisant plus de trente 35 années d'expérience concrète et pratique
            dans des environnements de systèmes d'information complexes.
            Son fondateur Philippe Motillon après avoir géré des équipe de développement durant plus de 15 ans ,
            s’est spécialisé dans l’intelligence d’affaire au début des années 2000 mettant en place des pratiques
            d’analyse et de visualisation de données dans des entreprises de service et leurs clients.
        </p>

        <b>Spécialités:</b>
        <ul class="no-bullets">
            <li>QlikView, Qlik Sense, NPrinting</li>
            <li>Tableau Software</li>
            <li>PowerBI</li>
            <li>La modélisation de données</li>
            <li>Projets BI</li>
            <li>Aide au choix d’outils</li>
        </ul>
    </div>

    <div id="services" class="center">
        <h2><u>Nos Services :</u></h2>
        <p>
            Nos projets sont exécutés en utilisant une méthode agile (Scrum ou Kanban)
        </p>

        <b>Formations</b>
        <ul class="no-bullets">
            <li>QlikSense, QlikView</li>
            <li>Tableau desktop</li>
        </ul></br>

        <b>Analyse des besoins</b>
        <ul class="no-bullets">
            <li>Partie critique de tout projet d’intelligence d’affaire, cette phase est effectuée sous forme d’ateliers permettant à l’équipe de mieux apréhender 
            les challenges affrontés par l’organisation</li>
        </ul></br>

        <b>Définition d’indicateurs de performance</b>
        <ul class="no-bullets">
            <li>Suite à la tenue des atelier, l’équipe définit avec les gens d’affaire les indicateurs attendus et les axes d’analyse à mettre en place</li>
        </ul></br>

        <b>Création de tableaux de bord</b>
        <ul class="no-bullets">
            <li><u>Design de tableaux de bord:</u> L’équipe définit les différentes pages constituant le tableau de bord en suivant les bonnes pratiques dictées par des 
            spécialistes de la visualisation de données tels que Stephen Few et Wayne Eckerson. Leur définition est partagée avec les équipes du client afin de s’assurer 
            qu’ils répondent aux attentes.</li>
            <li><u>Développement des tableaux de bord:</u> Suite aux différentes phases d’analyse, les tableaux de bord sont développés en utilisant la ou les technologies 
            définies précédemment. Des livraisons régulières sont faites afin de s’assurer que le développement reste aligné avec les besoins. Des tests unitaires sont effectués 
            tout au long des développements afin d’éviter les régressions possibles durant le développement</li>
            <li><u>Analyse et mise en place de la sécurité:</u> Durant la phase de développement, les besoins en sécurité (accès aux serveurs, accès aux tableaux de bord, 
            accès aux données) sont analysés et l’implantation en est intégré aux différents développements.</li>
            <li><u>Déploiement:</u> Afin de permettre les tests d’acceptation, les tableaux de bord sont déployés dans un environnement accessible par les gens d’affaires 
            pour leur validation</li>
            <li><u>Support Post-implantation:</u> Suite à la mise en production, Shefford BI Solutions assure un support afin de corriger tout problème pouvant arriver en 
            environnement de production.</li>
        </ul>
    </div>

    <div id="blog" class="center">
        <h2><u>Blog</u></h2>
    </div>

    <div id="contact" class="center">
        <h2><u>Contactez-nous</u></h2>
    </div>
</div>