body {
    font-family: "Montserrat";
    padding: 0;
    margin: 0;

    background-image: url(/assets/BG.jpg);
    background-size: cover;
}

.logo-img {
    width: 75%;
}

.container {
  position: relative;
  color: white;
}

.sidenav-container {
    position: absolute;
    top: 25%;
    width: 75%;
    line-height: 2;
}

.contact-container {
    position: absolute;
    top: 90%;
    width: 75%;
    line-height: 2;
}

.blog-container {
    position: absolute;
    top: 82.5%;
    width: 75%;
    line-height: 2;
}

.uppercase {
    text-transform: uppercase;
}

.sidenav {
    height: 100%;
    width: 13%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    width: 100%;
    text-decoration: none;
    font-size: 1vw;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: underline;
    cursor: pointer;
}

.service-list a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.propos{
    position: absolute;
    width: 30%;
    top: 10vh;
    left: 15%;
    font-size: 2vh;
    animation: mainFadeIn 1.5s forwards;
    line-height: 1.5;
}

.services {
    position: absolute;
    width: 50%;
    left: 15%;
    font-size: 2vh;
    animation: mainFadeIn 1.5s forwards;
    line-height: 1.5;
}

.services_container {
    position: absolute;
    width: 70%;
    top: 4vh;
    text-align: left;
    animation: mainFadeIn 1.5s forwards;
}

.detail_container {
    position: absolute;
    left: 85%;
    text-align: left;
    width: 50%;
}

.detail_text {
    border: 2px solid white;
    border-radius: 25px;
    padding: 50px;
    margin: 20px;
    animation: mainFadeIn 1.5s forwards;
}

.slogan {
    position: absolute;
    text-align: right;
    top: 15vh;
    right: 5vh;
    left: 60%;
    font-size: 1.5vw;
    animation: mainFadeIn 1.5s forwards;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact_form {
    position: absolute;
    text-align: center;
    top: 4vh;
    width: 70%;
    animation: mainFadeIn 1.5s forwards;
}

.contact_information {
    border: 2px solid white;
    border-radius: 25px;
    padding: 50px;
    margin: 20px;

    position: absolute;
    top: 4vh;
    left: 80%;
    text-align: left;
    width: 20%;
    animation: mainFadeIn 1.5s forwards;
}

.header {
    text-align: center;
    animation: mainFadeIn 1.5s forwards;
}

.form_field {
    background-color: transparent;
    color:white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    font-size: medium;
    text-align: center;
}

.description_field {
    font-family: "Montserrat";
    font-size: 14px;
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.button {
    font-family: "Montserrat";
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	background: transparent;
	padding: 20px;
	border: 2px solid white;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

.button:hover {
	color: white;
	background: blue;
	border-color: blue;
	transition: all 0.4s ease 0s;
}